:root {
  .remove-liquidity-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .header {
      color: var(--text-color);
      display: flex;
      justify-content: center;
      padding: 30px;

      &__title {
        display: flex;
        justify-content: center;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 518px;
      height: 568px;
      overflow-y: auto;
      margin: 0 30px 30px 30px;

      input {
        padding: 8px 16px;
        text-align: right;
        border-radius: 10px;
        background-color: var(--color-input-bg);
        color: var(--title-active);
      }
      input::placeholder {
        color: var(--title-active);
      }

      &__assets-button {
        display: flex;
      }

      &__pool-overview {
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        background-color: var(--color-bg);
        color: var(--color-body);
        margin-top: 30px;
        padding: 16px;

        .chart {
          margin-right: 20px;
        }

        .pool-overview {
          color: var(--title-active);
        }

        .info {
          display: flex;
          flex-direction: row;
          margin-top: 10px;
          font-size: 14px;

          .tokens-list {
            .item {
              display: flex;
              align-items: center;
              margin-right: 70px;

              &:not(:last-child) {
                margin-bottom: 8px;
              }
              .circle {
                border-radius: 50%;
                height: 15px;
                width: 15px;
                margin-right: 6px;
              }
            }
          }
          .other {
            div {
              &:not(:last-child) {
                margin-bottom: 8px;
              }
            }

            .fee-list {
              margin: 0;
              padding-left: 28px;

              > li:first-child {
                margin-bottom: 8px;
              }
            }
          }
        }
      }

      &__assets-table {
        margin-top: 30px;
        background-color: var(--color-bg);
        border-radius: 10px;

        .assets {
          width: 30%;
          text-align: left;
        }

        table {
          width: 100%;
          border-collapse: separate;
          border-spacing: 0;
          font-size: 14px;
          font-weight: 500;

          th {
            border: none;
            color: var(--tab-text-color);
            padding: 8px 16px;
          }

          td {
            padding: 20px 16px;
            vertical-align: top;
            border-top: 1px solid var(--border-accordion-table);
          }

          tr td:nth-child(1) {
            text-align: left;
          }

          tr {
            td:nth-child(2) {
              text-align: right;
            }
            th:nth-child(2) {
              width: 35%;
              text-align: right;
            }
            td:nth-child(3) {
              text-align: right;
            }
            th:nth-child(3) {
              width: 35%;
              text-align: right;
            }
          }

          .radio-container {
            display: flex;
            align-items: center;

            .token-symbol {
              margin-left: 6px;
              color: var(--title-active);
            }
          }
        }
      }
      &__amount {
        color: var(--text-color);
        background-color: var(--color-bg);
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        border-radius: 10px;
        margin-top: 30px;
        padding: 0px 18.5px;

        .label {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 30%;
        }

        .value {
          margin-top: 20px;
          margin-bottom: 20px;
          display: inline-flex;
          align-items: center;
          justify-content: flex-end;

          button {
            cursor: pointer;
            margin-left: 5px;
            background-color: #3a449c;
            color: white;
            border: none;
            padding: 3px 6px;
            border-radius: 10px;
          }
        }

        .input {
          margin-top: 12px;
          margin-bottom: 12px;
          width: 25%;
          margin-left: auto;
          input {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            padding: 7px 16px;
            text-align: right;
            border-radius: 10px;
            background-color: var(--color-input-bg);
            border: 1px solid var(--color-input-bg);
            color: var(--title-active);
          }
          input::placeholder {
            color: var(--title-active);
          }
        }
      }

      &__red-warning {
        margin-top: 16px;
        display: flex;
        align-items: center;
        background: rgba($color: #f84960, $alpha: 0.3);
        border-radius: 8px;
        padding: 6px 10px;

        > svg {
          width: 24px;
          height: 24px;
        }

        > div {
          color: var(--title-active);
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          margin-left: 8px;
        }
      }

      .error {
        text-align: right;
        font-size: 12px;
        color: red;
        margin-top: 6px;
      }
    }

    .footer {
      margin: 0 30px 30px 30px;
      &__exec-button {
        border: none;
        border-radius: 8px;
        background-color: var(--color-primary);
        color: white;
        margin-top: 30px;
        min-height: 44px;
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        /* mouse out */
        transition: background-color 0.15s ease-in-out;

        /* mouse in */
        &:hover {
          cursor: pointer;
        }

        &:disabled {
          background-color: var(--color-disabled) !important;
          color: var(--color-placeholder) !important;
        }
      }

      .tooltip {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 30px;
        flex: 1;

        .custom-tooltip {
          display: flex;
          align-items: center;
          cursor: pointer;

          > div {
            color: var(--title-active);
            text-decoration: underline;
            margin-right: 6px;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
          }

          > svg {
            width: 16px;
            height: 16px;
            fill: var(--title-active);
          }
        }
      }
    }
  }
}
